@model List<BooksMVC.Models.ViewModels.Book>
@{
    ViewBag.Title = "Book List";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right;padding-right:0px;">
    <a id="BtnNew" href="~/Books/New" class="btn btn-primary">New Book +</a>
</div>
<div class="row">
    <div class="col-md-11">
        <table class="table" id="table_id">
            <tr>
                <th> #ID </th>
                <th> NAME </th>
                <th> AUTHOR </th>
                <th> EDIT / DELETE</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Autor</td>
                    <th>
                        <a class="btn btn-default" href="~/Books/Edit/@item.Id">✏️</a>
                        <a class="btn btn-danger" href="~/Books/Delete/@item.Id">🗑️</a>
                    </th>
                </tr>
            }
        </table>
    </div>
</div>
